<div class="d-flex align-items-center" style="min-height: 70vh;">

    <div class="col-6 ps-5">
        <h1 class="display-4 fw-bold text-dark">Schnell, unkompliziert und sicher</h1>
        <p class="lead text-dark mt-3" style="max-width: 530px">Auf einem Trip, die Miete zahlen oder mit Freunden Unterwegs? Mithilfe von finance kannst du deine Ausgaben mit nur wenigen Klicks verwalten.  </p>
        <div class="mt-4 d-flex gap-3">
            <a href="/signup" class="btn btn-light btn-lg fw-bold">Registrieren</a>
        </div>
    </div>

    <div class="col-6 d-flex justify-content-end pe-2">
        <img src="/startseite.webp" alt="Bild" style="max-width: 100%; border-radius: 8px;">
    </div>

</div>