<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">

    <h1 class="mb-4">Login</h1>
      <p class="text-black fw-bold text-center fs-4">Bitte anmelden</p>

    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    <form method="post" action="/login">

      <div class="mb-3">
        <label for="identifier" class="form-label">Benutzername oder E-Mail Adresse</label>
        <input type="text"
               class="form-control"
               id="identifier"
               name="identifier"
               placeholder="Benutzername oder E-Mail Adresse"
               required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Passwort</label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Passwort"
               required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Login</button>

    </form>

  </div>
</div>