<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">

    <h1 class="mb-4">Registrieren</h1>
      <p class="text-black fw-bold text-center fs-4">Bitte geben Sie E- Mail und Passwort ein</p>

    {{! Falls Fehler}}
    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    <form method="post" action="/signup">

      <div class="mb-3">
        <label for="email" class="form-label">E-Mail</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="E- Mail Adresse"
               required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Passwort</label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Passwort"
               required>
      </div>

      <button type="submit" class="btn btn-primary w-100">
        Registrieren
      </button>

    </form>

  </div>
</div>
